
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <style>
    .timenav-tag div h3 {
      display: none !important;
    }
    #country_name {
      font-family: "Georgia", georgia, serif;
    }

    #country_name h1 {
      font-weight: 500;
      color: red;
    }

    .col-6 {
      width: 50%;
      padding: 30px;

    }

    </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>The Hello World of News Search</title>
    <script src="https://www.google.com/jsapi"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/storyjs-embed.js"></script>
    <script src="/assets/countries.css.scss"></script>
    <script type="text/javascript"></script>
     <script>
            $(document).ready(function() {
                var timelineData = <%= @timeline.to_json.html_safe %>;
                createStoryJS({
                    type:       'timeline',
                    width:      "100%",
                    height:     '600',
                    source:     timelineData,
                    embed_id:   'my-timeline'
                });
            });
    </script>
  </head>
  <body style="font-family: Georgia; border: 0 none;">
    <div id="branding"  style="float: left;" class="col-lg-4"></div><br />
    <p id="notice"><%= notice %></p>
    <div class="col-6">
      <p id="country_name">
        <h1>Google News Results for <%= @country.name %>:</h1> <% @country_news["responseData"]["results"].each do |result| %>
        <h3><a href=<%= result["unescapedUrl"] %>><%= result["title"].html_safe %></a></h3>
        <p><%= result["content"].html_safe %></p>
        <% end %>
      </p>
  </div>
  <div id="my-timeline"></div>
</body>
</html>
